/* preloader */
#preloader {
    position: fixed;
    top:0; left:0;
    right:0; bottom:0;
    background: #f0f0f0;
    z-index: 100;
}
#loader {
    width: 100px;
    height: 100px;
    position: absolute;
    left:50%; top:50%;
    background: url(../img/loader.gif) no-repeat center 0;
    background-size: contain;
    margin:-50px 0 0 -50px;
}
html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}
main {
   -webkit-box-flex: 1;
       -ms-flex: 1 0 auto;
           flex: 1 0 auto;
 }
#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 301px;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    will-change: opacity;
}
#imgNosotros{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
#fondo {
background: rgba(72,203,247,1);
background: -webkit-gradient(left bottom, right top, color-stop(5%, rgba(72,203,247,1)), color-stop(22%, rgba(72,203,247,1)), color-stop(40%, rgba(38,187,237,1)), color-stop(52%, rgba(15,176,230,1)), color-stop(67%, rgba(25,162,204,1)));
background: linear-gradient(45deg, rgba(72,203,247,1) 5%, rgba(72,203,247,1) 22%, rgba(38,187,237,1) 40%, rgba(15,176,230,1) 52%, rgba(25,162,204,1) 67%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48cbf7', endColorstr='#19a2cc', GradientType=1 );
	width: 100%;
	height: 100%;
}

nav{
	background-color: transparent;
	box-shadow: 0 0 0 0;
	transition: 0.3s;
}

#homeMain{
	background-color: #F2F2F2;
	position: relative;
	z-index: -1;
}

#protocolos{
	position: relative;;
	z-index: -1;
}
.colorBarraTop{
	background-color: #3A3F3B;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
	transition: 1s;
}

.btn {
	background-color: #3A3F3B;
	color: #FFF;
	transition: .5s;
}

.btn:hover{
	background-color: #9db5b2;
	transition: .5s;

}

.btn:active{
	background-color: #daefed;
	color: #3A3F3B;

}

.btn-large{
	background-color: #3A3F3B;
	color: #FFF;
	transition: .5s;
}
.btn-large:hover{
	background-color: #9db5b2;
	color: #FFF;
	transition: .5s;
}
.btn-large:active{
	background-color: #daefed;
	color: #3A3F3B;

}
.sombraTexto{

	text-shadow: 8px 3px 12px #1A92B5;
}

.borde {
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
    padding: 10px;
    transition: .3s;
    border-color: #FFF;
}
.borde:hover{

	border-style: solid;
    border-width: medium;
    border-radius: 5px;
    padding: 10px;
    transition: .3s;
    border-color: #0FB1E6;

}

.bordeMobile {
  color: #000;
}
.bordeMobile:hover{

 color:  #0FB1E6;

}

#home{
	background-image: url("../img/cardio.png");
	height: 90%;
}

#textoHome{
	position: relative;
	/*background-color: #352555; */
	height: 100%;
}

#imgHome{
	position: relative;
	/*background-color: red; */
	height: 100%;
}
.centrado-porcentual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#botonAtras{
	position: absolute;
	padding: 1%;
	transition: .1s;

}
#botonAtras:hover{
	position: absolute;
	padding-left: 0%;
	transition: .1s;
}

#formularios{
	background-color: #fff;
	box-shadow: 4px 5px 10px #ccc;
	transition: .3s;

}
#formularios:hover{
	box-shadow: 15px 15px 15px #ccc;
	transition: .3s;
}

#formLogin{
	position: relative;
	padding: 30px;
}

#formRegistro{
	position: relative;
	padding: 30px
}

.footer-copyright{
	background-color: rgba(0, 0, 0, 0.17);
}
.blur{
	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
    background-color: #0FB1E6;
}

#comentarios{
	padding: 3em;
}
#contenido{
  padding-top: 30px;
}
.azul{
	background-color: #0FB1E6;
}
.verde{
	background-color: #8bc63f;
}
.obscuro{
	background-color: #3A3F3B;
}

#logos{
  position:absolute;
bottom:0px;
right:10px;
opacity: 0.5;
}
